body {
    background-color: rgb(226, 226, 226);
}

.title {
    font-family: Arial;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.003cm;
    position: absolute;
    transform: scale(3);
    top: 10%;
    left: 40%;
}

.pt { /* password title */
    font-family: Arial;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.003cm;
    position: absolute;
    transform: scale(3);
    top: 40%;
    left: 37%;
}

.pif { /* password input field */
    font-family: Arial;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.003cm;
    position: absolute;
    transform: scale(1.5);
    top: 40%;
    left: 47%;
}

.pbutton {
    font-family: Arial;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.003cm;
    position: absolute;
    transform: scale(2);
    top: 50%;
    left: 35%;
}

.note {
    font-family: Arial;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.003cm;
    position: absolute;
    transform: scale(0.7);
    top: 70%;
    left: 20%;
}